MPROVE_DOCS_RELEASE_TAG=12.0.27

DOCS_ORIGIN=http://localhost:3003

OPENAPI_SERVER_URL=http://localhost:3000

OPENAPI_SCHEMA_URL=http://localhost:3000/api/openapi.json

MCP_SCHEMA_URL=http://localhost:3000/api/full-mcp.json